/* Hero Section */
.hero {
    padding-block-start: 2.5rem;
}

.hero__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero__title {
    font-size: 2.25rem;
    line-height: 1.2;
}

/* Features Section */
.features {
    padding-block-start: 2.5rem;
}

.features__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.features__intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.features__title {
    font-size: 2rem;
    line-height: 1.2;
}

.features__list {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.features__item {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.features__item-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: -1.5rem;
    border-radius: 6.25rem 0 0 6.25rem;
    background-color: var(--orange-50);
}

.features__item-number {
    background-color: var(--orange-400);
    padding: 0.5rem 1.25rem;
    border-radius: 6.25rem;
    color: var(--gray-50);
    font-weight: 700;
}

.features__item-title {
    font-size: 0.9375rem;
    font-weight: 700;
}

/* Testimonials Sections */
.testimonials {
    padding-block-start: 2.5rem;
    display: flex;
    flex-direction: column;

}

.testimonials__container {
    display: flex;
    flex-direction: column;
}

.testimonials__title {
    text-align: center;
    font-size: 2rem;
}

.testimonials__viewport {
    overflow: hidden;
}

.testimonials__slide {
    display: flex;
    gap: 2rem;
    margin-block-start: 4rem;
    padding-inline: 1.5rem;
}

.testimonials__card {
    text-align: center;
    position: relative;
    background-color: var(--gray-50);
    padding: 3.75rem 1.5rem 2rem;
    min-width: 0;
    flex: 0 0 100%;
}

.testimonials__avatar {
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.testimonials__name {
    margin-block-end: 1.5rem;
}

.testimonials__dots {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-block-start: 1.5rem;
}

.testimonials__dot {
    border: 1px solid var(--orange-400);
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.testimonials__dot--active {
    background-color: var(--orange-400);
}

.testimonials .button {
    align-self: center;
    margin-block-start: 2rem;
}

/* CTA Section */
.cta {
    margin-block-start: 2.5rem;
    background-color: var(--orange-400);
    background-image: url('../images/bg-simplify-section-mobile.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.cta__container {
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.cta__title {
    text-align: center;
    font-size: 2.3rem;
    line-height: 1.2;
    color: var(--gray-50);
}

@media (min-width: 56rem) {

    /* Hero Section */
    .hero {
        margin-block-start: 2.5rem;
        padding-block: 2.5rem;
    }

    .hero__container {
        flex-direction: row-reverse;
        align-items: center;
    }

    .hero__image {
        width: 50%;
    }

    .hero__content {
        width: 50%;
        text-align: left;
        align-items: flex-start;
    }

    .hero__title {
        font-size: 3.5rem;
    }

    .hero__description {
        max-width: 22rem;
    }


    /* Features Section */
    .features {
        padding-block: 2.5rem;
    }

    .features__container {
        flex-direction: row;
    }

    .features__intro {
        width: 50%;
        text-align: left;
        align-items: flex-start;
    }

    .features__title {
        font-size: 2.25rem;
    }

    .features__description {
        max-width: 22rem;
    }

    .features__list {
        width: 50%;
    }

    .features__item-header {
        background-color: transparent;
        margin-right: 0;
    }

    .features__item-title {
        font-size: 1.125rem;
    }

    .features__item-description {
        margin-left: 4.5rem;
    }

    /* Testimonials Sections */
    .testimonials {
        padding-block: 2.5rem;
    }

    .testimonials__title {
        font-size: 2.25rem;
    }

    .testimonials__card {
        flex: 0 0 32%;
        padding-block: 3.75rem 2.5rem;
    }

    .testimonials__dots {
        display: none;
    }

    /* CTA Section */
    .cta {
        background-image: url('../images/bg-simplify-section-desktop.svg');
        background-position: center left;
    }

    .cta__container {
        flex-direction: row;
        justify-content: space-between;
    }

    .cta__title {
        text-align: left;
        font-size: 2.5rem;
        max-width: 35rem;
    }
}