@import './styles/base.css';
@import './styles/components.css';
@import './styles/layouts.css';
@import './styles/sections.css';

:root {
    --orange-400: hsl(12, 88%, 59%);
    --blue-950: hsl(228, 39%, 23%);

    --gray-950: hsl(233, 12%, 13%);
    --orange-50: hsl(13, 100%, 96%);
    --gray-50: hsl(0, 0%, 98%);

    --be-vietnam-pro: 'Be Vietnam Pro', sans-serif;

    font: normal 400 1rem/1.5 var(--be-vietnam-pro);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-image: url('./images/bg-tablet-pattern.svg'), url('./images/bg-tablet-pattern.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top -3rem right -5rem, bottom 30% left -15rem;
    background-size: 25rem auto, 25rem auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

img,
svg,
picture {
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    padding-inline: 1.5rem;
}

@media (min-width: 56rem) {
    body {
        background-position: top -6rem right -5rem, bottom 30% left -17.5rem;
        background-size: 45rem auto, 40rem auto;
    }

    .container {
        max-width: 69.375rem;
        margin-inline: auto;
    }
}