@import './styles/base.css';
@import './styles/components.css';
@import './styles/layouts.css';
@import './styles/sections.css';

:root {
    --orange-400: hsl(12, 88%, 59%);
    --blue-950: hsl(228, 39%, 23%);

    --gray-950: hsl(233, 12%, 13%);
    --orange-50: hsl(13, 100%, 96%);
    --gray-50: hsl(0, 0%, 98%);

    --be-vietnam-pro: 'Be Vietnam Pro', sans-serif;

    font: normal 400 1rem var(--be-vietnam-pro);
    background: var(--gray-50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

img,
svg,
picture {
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    padding-inline: 1.5rem;


}

@media (min-width: 48rem) {
    .container {
        max-width: 69.375rem;
        margin-inline: auto;
    }
}